%h2 Sign up

.row
  .col-md-6
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal ui-form center-block"}) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
        = f.input :residence_country, priority: ['United States of America']
        = f.simple_fields_for :accounts do |accounts_form|
          = accounts_form.input :server_id, collection: Server.all, prompt: true
          = accounts_form.input :account_key, label: "@ User ID"

      .form-actions
        = f.button :submit, "Sign up"
  .col-md-6
    %h3 Why do you need my ESO @Account Name?

    %p When you buy or sell goods you will need to send and receive them in game by way of in-game mail using the COD (Cash On Delivery) option to handle payment for the item(s). Your @Account name will be shared with sellers who need to send you the items you’ve agreed to purchase.

    %p We will also be generating reports for Zenimax Online Studios to review, periodically. These reports will include your @Account name if your transactions require their review for any reason. This is to support you and to provide a safer, more trustworthy economy.

    %p Finally, we’re also building an “Integrity” system which will encourage everyone to build a reputation around themselves as trustworthy individuals. This, again, is there to support you and to help provide a safer economy. We understand that not everyone is going to be open about sharing their @Account name, and we completely see the validity of their concerns.

    %p Keep in mind that we are not exposing your information to any external agency, we are not collecting and will never ask for your account password or your ESO account email address. The only people outside of our database that will ever see your account information are the buyers and sellers you choose to interact with and Zenimax, who already know your information.

%br
%br

= render "devise/shared/links"
