%table.table.table-striped.table-hover
  - if @accounts.empty?
    %tr
      %td No accounts found
  - else
    %tr
      %th Name
      %th Validated
      %th
      %th

    - @accounts.each do |account|
      %tr
        %td= link_to account.name, user_account_path(current_user, account)
        %td= account.validated
        %td
          - if policy(account).edit?
            = link_to 'Edit', edit_user_account_path(current_user, account)
        %td
          - if policy(account).destroy?
            = link_to 'Remove', user_account_path(current_user, account), :method => :delete, :data => { :confirm => 'Are you sure?' }

.pull-right
  = paginate @accounts
