= simple_form_for [current_user, @account], html: {class: "form-horizontal ui-form center-block"} do |f|
  = f.error_notification

  .form-inputs
    = f.association :user, as: :hidden, input_html: { value: current_user.try(:id) }
    = f.association :server
    = f.input :account_key, label: "@ User ID"

  .form-actions
    = f.button :submit
