.row
  .col-md-6
    = link_to 'New Account', new_user_account_path(current_user), class: "btn btn-default"

  .col-md-6
    = search_form_for @q, url: user_accounts_path(current_user), html: {class: "form-inline pull-right"} do |f|
      .form-group
        = f.label :server_id_eq, class: "sr-only"
        = f.collection_select :server_id_eq, Server.all, :id, :name, {prompt: true}, { class: "form-control", style: "width: 150px;" }
      .form-group.has-feedback
        = f.label :server_name_or_account_key_cont, class: "sr-only"
        = f.text_field :account_key_cont, class: "form-control", placeholder: "Enter name"
        %span.glyphicon.glyphicon-search.form-control-feedback
      .form-group
        = f.submit 'Search', class: "btn btn-default"

    .clearfix
    %br

.row
  .col-md-12
    = render 'account_grid'
