%p#notice= notice

%p
  %b Account key:
  = @account.account_key
%p
  %b Server name:
  = @account.server.name
%p
  %b Validated:
  = @account.validated

= link_to 'Edit', edit_user_account_path(current_user, @account)
