= content_for :content do
  %ul.nav.nav-pills
    %li{class: ("active" if current_page?(user_profile_path(current_user)))}
      = link_to "Profile", user_profile_path(current_user)
    %li{class: ("active" if current_page?(user_accounts_path(current_user)))}
      = link_to "Accounts", user_accounts_path(current_user)

  %br
  %br

  = content_for?(:profile_content) ? yield(:profile_content) : yield

= render template: 'layouts/application'
