%div
  %div.center-block(style="width: 742px;")
    %h2.page-header About Us

  %p
    ESOLoot.com, as of today, is not yet a company. It is a partnership between two individuals and was built in their spare time after full time day jobs, around their family time and in competition with other obligations. It is not yet complete. It is not yet perfect or flawless. The site is still being worked on and will continue to grow and improve over time.
    Our goal is to provide you with the highest quality product we can produce as quickly as we can deliver it. If we generate any funds during the early launch of this site will go towards hosting and, eventually, dedicating more of our time toward this product.

  %h3 Rick Parker
  %p
    Better known as Wykkyd, or Wykkyd Gaming, Rick is a military veteran and has been programming since 1986. He has a strong passion for games, especially MMORPGs. At times he takes this passion too far and turns his game time into another job; one that he normally doesn’t get paid for. His addon downloads on ESOUI.com have totaled to over a half million in just over a month since The Elder Scrolls Online launched. He prides himself in delivering quality products that meet the community’s needs and desires, and hopes that this website will become another way to give the community something that many of them have been asking for.

  %h3 Chris Tanner
  %p
    Plays video games and develops things!
