%h4(style="font-weight: bold;") Recent changes

%h5 May 16 2014
%ul
  %li Can now select a listing duration
  %li Starting bid is no longer required
  %li Can now search by item type and style
  %li New Heavy, Medium, and Light Apparel item types
  %li Enchants now appear in item tooltips
  %li Fixed account selection bug on create listing page

%h5 May 14 2014
%ul
  %li Auction grids now show the server of the account with the item
  %li Selecting an account will now filter the auction grids to only show items for the matching server
  %li Default duration for new auctions is now three days
  %li Item list when creating a new auction is now sorted alphabetically
  %li
    Fixed bug that was causing duplicate items to be created when creating an auction

%h5 May 13 2014
%ul
  %li Errors creating item listings fixed
  %li Delivered items now properly show up in My Sales and My Purchases until marked received
  %li Received listings no longer show in My Listings
