%div
  %div.center-block(style="width: 742px;")
    %h2.page-header Grand Opening ‘Conquer the Market’ Contest

    %p
      As a celebration of the birth of ESOLoot.com and in the interest of seeing which of you is the savviest economist and auctioneer we are hosting the first ever Conquer the Market contest. This contest is only available to Premium Members.  The contest entry period will run from May 30th 2014 at 9pm EST and will last until June 19th at midnight PST.
    %p
      The Premium Membership limitation is for three reasons.  One, if you’re a Premium member we think you’re a rather amazing person and we want to reward you for your faith in our product.  Two, since this contest will result in prizes that bear monetary value we also need to limit the number of participants somewhat, so that we’re not absolutely flooded and forced into personal bankruptcy (after all we’re not a business yet, we’re just normal people).  Three, the contest participation rules require some of the features that only Premium members have access to.

    %h3 Prizes

    %ol
      %li
        Prizes will scale based upon participation.
      %li
        Available prizes will consist of Razer gaming peripherals or equivalent Amazon Gift Cards and the value of those prizes will vary.
      %li
        Razer gaming devices are only available as prizes within the continental United States. Outside of the continental United States only Amazon Gift Cards will be available. If you are a resident of a country where you cannot spend Amazon Gift Cards please contact ESOLoot via esoloot@gmail.com before participating to see if we can find a viable alternative, should you win.
      %li
        Actual prizes can be found on ESOLoot.com’s <Conquer the Market Prize Watch> page.

    %h3 Rules of Participation

    %ol
      %li
        You must be 18 years of age or older (20 in the case of Japan).
      %li
        You must be a resident of a country where online Contests such as this are not prohibited.
      %li
        You must be a Premium Member
      %li
        You must have a Validated email address
      %li
        You must have at least one verified auction transaction, to confirm your game account information and your “uniqueness”.
      %li
        Your participation begins when you register for the Contest, following rules 1 through 5 above, during the Contest entry period mentioned above.
      %li
        Your participation ends TWENTY CALENDAR DAYS and your marketing skills will be gauged using the rest of the rules and regulations herein.

        %ol
          %li
            This means that if you register on May 21st at 10pm EST you would have until June 10th at 10pm to compete.
          %li
            This also means that if you Register on June 10th before time expires you would have until June 30th at the same clock time you registered to compete.
      %li
        Your entry alone is not enough. This is not a Sweepstakes. There is no random drawing. You must compete using the tools available on the website.
      %li
        How to compete:

        %ol
          %li
            Sell things (rules below) for normal market value as would be expected in any normal auction house.
          %li
            Buy things (rules below) for normal market value (or below, if you can find it) as would be expected in any normal auction house.
          %li
            Maintain as close to a 60%/40% profit/loss ratio as possible (45% of your sales amounts being spent on purchases). Note: This is to promote fairness, so that we don’t end up with a website full of nothing but people trying to sell and nobody buying.
      %li
        You may be disqualified if you:

        %ol
          %li
            Attempt to cheat the system by using multiple accounts to buy and sell from yourself
          %li
            Use guild-mates or friends to round-robin items between yourselves
          %li
            Buy and re-sell the same items for the same prices in an attempt to pad your numbers or otherwise attempt to “game the system”
          %li
            Please note that ESOLoot.com reserves the right to adjust the rules of disqualification over time in the case that new tactics or techniques are discovered during the course of the Contest which are deemed to be unfair or not in the spirit of honest competition.

    %h3 Rules for Selling an Auction (and having it qualify toward your standing):

    %ol
      %li
        It must be posted as a 1 day listing
      %li
        It may be for BID or BUYOUT or both
      %li
        It must be of total value GREATER than 100 gold
      %li
        It must be of total value LESS than 3,000 gold
      %li
        It must be of GREEN or BLUE quality OR full stacks of crafting materials, EXCLUDING the following:

        %ol
          %li
            EPIC crafting materials do NOT qualify
          %li
            LEGENDARY crafting materials do NOT qualify
          %li
            The following RACIAL MOTIFS do NOT qualify:

            %ol
              %li
                Racial Motifs 11: Ancient Elves
              %li
                Racial Motifs 12: Barbaric
              %li
                Racial Motifs 13: Primal
              %li
                Racial Motifs 14: Daedric
      %li
        It CAN be for an item you previously purchased through the website providing that:

        %ol
          %li
            The original sale delivery of your purchase was CONFIRMED
          %li
            The re-sale of the item includes a mark-up
          %li
            The purchase and sale do not involve the same parties

            %ol
              %li
                This includes the history of that item. Items that are sold repeatedly through a chain of people will not count for any of the persons involved beyond the first seller.
      %li
        You must actually deliver the sold item(s) to the purchaser through in-game mail via COD.
      %li
        The seller MUST return to the site to confirm receipt of the item for the price listed on your auction with no additional fees, delays or items.

    %h3 Rules for Buying an Auction (and having it qualify toward your standing):

    %ol
      %li
        Warning: You could be buying from your competition, so purchase wisely
      %li
        Purchases must be completed on the website
      %li
        The purchase can be for any item for sale on the website that is lesser than Legendary quality and if the item is a stackable crafting material it must be for a FULL STACK in order to count.
      %li
        The sale price that you pay must also be of reasonable market value, no outrageously overpriced items or outrageously underpriced items in order to pad your purchases. We will be watching the data and analyzing market value of items.
      %li
        Seller must deliver the item to you via in-game mail via COD.
      %li
        You must confirm receipt of the item on the website.

  %p.center-block(style="width: 200px;")
    = link_to "Terms & Conditions", home_contest_rules_path
