%div
  %div.center-block(style="width: 742px;")
    %h2.page-header Contact Us

  %p
    As this site is still in its fledgling stages, and still maintained and supported by two people with day jobs and families, contact and support will unfortunately be limited during daylight hours (eastern time).
  %p
    For all assistance please email esoloot@gmail.com and we will respond as soon as possible if your issue can be addressed. Please try to be as clear as possible in your email’s subject line so that we can better assist you. If possible, please include a screenshot of your issue when contacting us.
