#prizes
  %div.center-block(style="width: 742px;")
    %h2.page-header ‘Conquer the Market’ Prize Packages

    %p
      Prizes for the Conquer the Market contest will scale in value and number depending on the number of entrants we receive. The contest itself is being funding by yearly Premium Membership fees, which are also going towards yearly hosting fees and expenses.  So this means the more of you that participate, the more we can afford to spend on your prizes… and you’re going to want these prizes. You’re also going to want to get others involved. The more of you that play, the greater the prizes and the more of you could win.

    %p
      Any of the Razer prizes listed below can be replaced with an Amazon Gift Card. All Razer prizes are available within the continental US only. Any winner residing outside of the continental US will receive the equivalent exchange-rated value in Amazon Gift Card(s). If you reside in a country, province or state where you are unable to spend Amazon Gift Cards then we will not be able to reward you monetarily and you should refrain from competing (we’re very sorry for those of you who will be impacted by this limitation).

    %h3 Possible Prize Packages:

    %h4 Simple Coinage
    %p $20 (US)  Amazon Gift Card (at equivalent exchange rate)
    %p Desk Protection
    %p Razer Goliathus Speed – Extended (3’ x 1’ mouse pad)
    %p ALTERNATE:  $40 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 Pro Gaming Audio
    %p Razer Carcharias or Razer Hamerhead Pro
    %p ALTERNATE:  $70 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 Deft Gamer Pack
    %p Razer Naga 2014 or Razer Tartarus
    %p Razer Goliathus Speed – Extended (3’ x 1’ mouse pad)
    %p ALTERNATE:  $120 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 Pro Gamer Pack
    %p Razer Naga 2014
    %p Razer Tartarus
    %p Razer Goliathus Speed – Extended (3’ x 1’ mouse pad)
    %p ALTERNATE:  $200 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 The Ultimate Keyboard
    %p Razer Deathstalker Ultimate
    %p ALTERNATE:  $250 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 Hardcore Gamer Pack
    %p Razer Naga 2014
    %p Razer Tartarus
    %p Razer Goliathus Speed – Extended (3’ x 1’ mouse pad)
    %p Razer Black Widow or Razer Anansi
    %p ALTERNATE:  $300 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 Elite Gamer Pack
    %p Razer Naga 2014
    %p Razer Tartarus
    %p Razer Goliathus Speed – Extended (3’ x 1’ mouse pad)
    %p Razer Black Widow or Razer Anansi
    %p Razer Carcharias or Razer Hamerhead Pro
    %p ALTERNATE:  $370 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 Ultimate Gamer Pack
    %p Razer Naga 2014
    %p Razer Tartarus
    %p Razer Goliathus Speed – Extended (3’ x 1’ mouse pad)
    %p Razer Carcharias or Razer Hamerhead Pro
    %p Razer Deathstalker Ultimate
    %p ALTERNATE:  $520 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h4 The Blade
    %p New Razer Blade (mobile gaming laptop)
    %p ALTERNATE:  $1800 (US)  Amazon Gift Card (at equivalent exchange rate)

    %h3 Prize Availability:

    %h4 At 100 Participants:
    %p Grand Prize:  Desk Protection
    %p 1st Runner Up:  Simple Coinage
    %p 2nd Runner Up:  Simple Coinage
    %p 3rd Runner Up:  Simple Coinage
    %p 4th Runner Up:  Simple Coinage
    %p 5th Runner Up:  Simple Coinage

    %h4 At 200 Participants:
    %p Grand Prize:  Pro Gaming Audio
    %p 1st Runner Up:  Desk Protection
    %p 2nd Runner Up:  Simple Coinage
    %p 3rd Runner Up:  Simple Coinage
    %p 4th Runner Up:  Simple Coinage
    %p 5th Runner Up:  Simple Coinage
    %p Next 5 Earners: Simple Coinage

    %h4 At 300 Participants:
    %p Grand Prize:  Deft Gamer Pack
    %p 1st Runner Up:  Pro Gaming Audio
    %p 2nd Runner Up:  Desk Protection
    %p 3rd Runner Up:  Desk Protection
    %p 4th Runner Up:  Simple Coinage
    %p 5th Runner Up:  Simple Coinage
    %p Next 5 Earners: Simple Coinage

    %h4 At 400 Participants:
    %p Grand Prize:  Deft Gamer Pack
    %p 1st Runner Up:  Pro Gaming Audio
    %p 2nd Runner Up:  Pro Gaming Audio
    %p 3rd Runner Up:  Pro Gaming Audio
    %p 4th Runner Up:  Pro Gaming Audio
    %p 5th Runner Up:  Desk Protection
    %p Next 5 Earners: Simple Coinage

    %h4 At 500 Participants:
    %p Grand Prize:  Pro Gamer Pack
    %p 1st Runner Up:  Deft Gamer Pack
    %p 2nd Runner Up:  Pro Gaming Audio
    %p 3rd Runner Up:  Pro Gaming Audio
    %p 4th Runner Up:  Pro Gaming Audio
    %p 5th Runner Up:  Pro Gaming Audio
    %p Next 5 Earners: Simple Coinage

    %h4 At 600 Participants:
    %p Grand Prize:  Pro Gamer Pack
    %p 1st Runner Up:  Deft Gamer Pack
    %p 2nd Runner Up:  Deft Gamer Pack
    %p 3rd Runner Up:  Pro Gaming Audio
    %p 4th Runner Up:  Pro Gaming Audio
    %p 5th Runner Up:  Pro Gaming Audio
    %p Next 10 Earners:  Simple Coinage

    %h4 At 700 Participants:
    %p Grand Prize:  Pro Gamer Pack
    %p 1st Runner Up:  Deft Gamer Pack
    %p 2nd Runner Up:  Deft Gamer Pack
    %p 3rd Runner Up:  Deft Gamer Pack
    %p 4th Runner Up:  Deft Gamer Pack
    %p 5th Runner Up:  Pro Gaming Audio
    %p Next 5 Earners: Desk Protection

    %h4 At 800 Participants:
    %p Grand Prize:  Pro Gamer Pack
    %p 1st Runner Up:  Deft Gamer Pack
    %p 2nd Runner Up:  Deft Gamer Pack
    %p 3rd Runner Up:  Deft Gamer Pack
    %p 4th Runner Up:  Deft Gamer Pack
    %p 5th Runner Up:  Pro Gaming Audio
    %p Next 5 Earners: Desk Protection
    %p Next 10 Earners:  Simple Coinage

    %h4 At 900 Participants:
    %p Grand Prize:  The Ultimate Keyboard
    %p 1st Runner Up:  Pro Gamer Pack
    %p 2nd Runner Up:  Deft Gamer Pack
    %p 3rd Runner Up:  Deft Gamer Pack
    %p 4th Runner Up:  Deft Gamer Pack
    %p 5th Runner Up:  Deft Gamer Pack
    %p Next 5 Earners: Desk Protection
    %p Next 10 Earners:  Simple Coinage

    %h4 At 1000 Participants:
    %p Grand Prize:  The Ultimate Keyboard
    %p 1st Runner Up:  Pro Gamer Pack
    %p 2nd Runner Up:  Pro Gamer Pack
    %p 3rd Runner Up:  Deft Gamer Pack
    %p 4th Runner Up:  Deft Gamer Pack
    %p 5th Runner Up:  Deft Gamer Pack
    %p Next 5 Earners: Desk Protection
    %p Next 10 Earners:  Simple Coinage

    %h4 At 1100 Participants:
    %p Grand Prize:  The Ultimate Keyboard
    %p 1st Runner Up:  Pro Gamer Pack
    %p 2nd Runner Up:  Pro Gamer Pack
    %p 3rd Runner Up:  Pro Gamer Pack
    %p 4th Runner Up:  Deft Gamer Pack
    %p 5th Runner Up:  Deft Gamer Pack
    %p Next 10 Earners:  Desk Protection
    %p Next 5 Earners: Simple Coinage

    %h4 At 1200 Participants:
    %p Grand Prize:  The Ultimate Keyboard
    %p 1st Runner Up:  Pro Gamer Pack
    %p 2nd Runner Up:  Pro Gamer Pack
    %p 3rd Runner Up:  Pro Gamer Pack
    %p 4th Runner Up:  Pro Gamer Pack
    %p 5th Runner Up:  Deft Gamer Pack
    %p Next 10 Earners:  Desk Protection
    %p Next 5 Earners: Simple Coinage

    %h4 At 1300 Participants:
    %p Grand Prize:  Hardcore Gamer Pack
    %p 1st Runner Up:  The Ultimate Keyboard
    %p 2nd Runner Up:  Pro Gamer Pack
    %p 3rd Runner Up:  Pro Gamer Pack
    %p 4th Runner Up:  Pro Gamer Pack
    %p 5th Runner Up:  Pro Gamer Pack
    %p Next 10 Earners:  Desk Protection
    %p Next 5 Earners: Simple Coinage

    %h4 At 1400 Participants:
    %p Grand Prize:  Hardcore Gamer Pack
    %p 1st Runner Up:  The Ultimate Keyboard
    %p 2nd Runner Up:  Pro Gamer Pack
    %p 3rd Runner Up:  Pro Gamer Pack
    %p 4th Runner Up:  Pro Gamer Pack
    %p 5th Runner Up:  Pro Gamer Pack
    %p Next 5 Earners: Pro Gaming Audio
    %p Next 10 Earners:  Simple Coinage

    %h4 At 1500 Participants:
    %p Grand Prize:  Hardcore Gamer Pack
    %p 1st Runner Up:  The Ultimate Keyboard
    %p 2nd Runner Up:  The Ultimate Keyboard
    %p 3rd Runner Up:  The Ultimate Keyboard
    %p 4th Runner Up:  The Ultimate Keyboard
    %p 5th Runner Up:  Pro Gamer Pack
    %p Next 5 Earners: Pro Gaming Audio
    %p Next 10 Earners:  Simple Coinage

    %h4 At 1600 Participants:
    %p Grand Prize:  Hardcore Gamer Pack
    %p 1st Runner Up:  The Ultimate Keyboard
    %p 2nd Runner Up:  The Ultimate Keyboard
    %p 3rd Runner Up:  The Ultimate Keyboard
    %p 4th Runner Up:  The Ultimate Keyboard
    %p 5th Runner Up:  Pro Gamer Pack
    %p Next 5 Earners: Pro Gaming Audio
    %p Next 10 Earners:  Desk Protection

    %h4 At 1700 Participants:
    %p Grand Prize:  Elite Gamer Pack
    %p 1st Runner Up:  Hardcore Gamer Pack
    %p 2nd Runner Up:  The Ultimate Keyboard
    %p 3rd Runner Up:  The Ultimate Keyboard
    %p 4th Runner Up:  The Ultimate Keyboard
    %p 5th Runner Up:  Pro Gamer Pack
    %p Next 5 Earners: Pro Gaming Audio
    %p Next 10 Earners:  Desk Protection

    %h4 At 1800 Participants:
    %p Grand Prize:  Elite Gamer Pack
    %p 1st Runner Up:  Hardcore Gamer Pack
    %p 2nd Runner Up:  Hardcore Gamer Pack
    %p 3rd Runner Up:  Hardcore Gamer Pack
    %p 4th Runner Up:  The Ultimate Keyboard
    %p 5th Runner Up:  The Ultimate Keyboard
    %p Next 5 Earners: Pro Gaming Audio
    %p Next 10 Earners:  Desk Protection

    %h4 At 1900 Participants:
    %p Grand Prize:  Elite Gamer Pack
    %p 1st Runner Up:  Hardcore Gamer Pack
    %p 2nd Runner Up:  Hardcore Gamer Pack
    %p 3rd Runner Up:  Hardcore Gamer Pack
    %p 4th Runner Up:  Hardcore Gamer Pack
    %p 5th Runner Up:  Hardcore Gamer Pack
    %p Next 5 Earners: Pro Gaming Audio
    %p Next 10 Earners:  Desk Protection

    %h4 At 2000 Participants:
    %p Grand Prize:  Elite Gamer Pack
    %p 1st Runner Up:  Hardcore Gamer Pack
    %p 2nd Runner Up:  Hardcore Gamer Pack
    %p 3rd Runner Up:  Hardcore Gamer Pack
    %p 4th Runner Up:  Hardcore Gamer Pack
    %p 5th Runner Up:  Hardcore Gamer Pack
    %p Next 15 Earners:  Pro Gaming Audio

    %h4 At 2500 Participants:
    %p Grand Prize:  Ultimate Gamer Pack
    %p 1st Runner Up:  Elite Gamer Pack
    %p 2nd Runner Up:  Elite Gamer Pack
    %p 3rd Runner Up:  Hardcore Gamer Pack
    %p 4th Runner Up:  Hardcore Gamer Pack
    %p 5th Runner Up:  Hardcore Gamer Pack
    %p Next 5 Earners: Deft Gamer Pack
    %p Next 10 Earners:  Pro Gaming Audio

    %h4 At 3000 Participants:
    %p Grand Prize:  Ultimate Gamer Pack
    %p 1st Runner Up:  Elite Gamer Pack
    %p 2nd Runner Up:  Elite Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Hardcore Gamer Pack
    %p 5th Runner Up:  Hardcore Gamer Pack
    %p Next 15 Earners:  Deft Gamer Pack

    %h4 At 3500 Participants:
    %p Grand Prize:  Ultimate Gamer Pack
    %p 1st Runner Up:  Elite Gamer Pack
    %p 2nd Runner Up:  Elite Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Elite Gamer Pack
    %p 5th Runner Up:  Elite Gamer Pack
    %p Next 5 Earners: The Ultimate Keyboard
    %p Next 10 Earners:  Deft Gamer Pack

    %h4 At 4000 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Elite Gamer Pack
    %p 2nd Runner Up:  Elite Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Elite Gamer Pack
    %p 5th Runner Up:  Elite Gamer Pack
    %p Next 5 Earners: The Ultimate Keyboard
    %p Next 10 Earners:  Pro Gaming Audio

    %h4 At 4500 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Elite Gamer Pack
    %p 2nd Runner Up:  Elite Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Elite Gamer Pack
    %p 5th Runner Up:  Elite Gamer Pack
    %p Next 5 Earners: The Ultimate Keyboard
    %p Next 10 Earners:  Deft Gamer Pack

    %h4 At 5000 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Ultimate Gamer Pack
    %p 2nd Runner Up:  Elite Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Elite Gamer Pack
    %p 5th Runner Up:  Elite Gamer Pack
    %p Next 5 Earners: The Ultimate Keyboard
    %p Next 10 Earners:  Deft Gamer Pack

    %h4 At 5500 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Ultimate Gamer Pack
    %p 2nd Runner Up:  Ultimate Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Elite Gamer Pack
    %p 5th Runner Up:  Elite Gamer Pack
    %p Next 15 Earners:  The Ultimate Keyboard

    %h4 At 6000 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Ultimate Gamer Pack
    %p 2nd Runner Up:  Ultimate Gamer Pack
    %p 3rd Runner Up:  Elite Gamer Pack
    %p 4th Runner Up:  Elite Gamer Pack
    %p 5th Runner Up:  Elite Gamer Pack
    %p Next 15 Earners:  Hardcore Gamer Pack

    %h4 At 6500 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Ultimate Gamer Pack
    %p 2nd Runner Up:  Ultimate Gamer Pack
    %p 3rd Runner Up:  Ultimate Gamer Pack
    %p 4th Runner Up:  Ultimate Gamer Pack
    %p 5th Runner Up:  Ultimate Gamer Pack
    %p Next 5 Earners: Elite Gamer Pack
    %p Next 10 Earners:  Hardcore Gamer Pack

    %h4 At 7000 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Ultimate Gamer Pack
    %p 2nd Runner Up:  Ultimate Gamer Pack
    %p 3rd Runner Up:  Ultimate Gamer Pack
    %p 4th Runner Up:  Ultimate Gamer Pack
    %p 5th Runner Up:  Ultimate Gamer Pack
    %p Next 10 Earners:  Elite Gamer Pack
    %p Next 5 Earners: Hardcore Gamer Pack

    %h4 At 7500 Participants:
    %p Grand Prize:  The Blade
    %p 1st Runner Up:  Ultimate Gamer Pack
    %p 2nd Runner Up:  Ultimate Gamer Pack
    %p 3rd Runner Up:  Ultimate Gamer Pack
    %p 4th Runner Up:  Ultimate Gamer Pack
    %p 5th Runner Up:  Ultimate Gamer Pack
    %p Next 15 Earners:  Elite Gamer Pack
    %p Next 15 Earners:  Desk Protection
