%pre
  ESOLoot Contest Rules & Conditions

  OFFICIAL RULES: VOID WHERE, OR TO THE EXTENT, PROHIBITED. NO PURCHASE NECESSARY TO ENTER OR WIN.

  1. INTRODUCTION This document describes the official rules (“Rules”) for Contests and Competitions organized by ESOLoot.com (Sponsor).

  2. ACCEPTANCE Your participation means you fully and unconditionally agree to and accept the contest rules. By participating you, the Entrant, are representing and warranting that you have read and understand, and agree to be bound by the contest rules. The contest rules constitute the entire agreement between the Entrant and the Sponsor.

  3. ELIGIBILITY Contests or Competitions are open only to individuals who are at least 18 years of age (or 20 years of age in the case of Japan). Contest is void in Brazil, Puerto Rico, Province of Quebec (Canada), and where prohibited by law. Residents of Iran, Iraq, Sudan, Cuba, Syria, North Korea and Union of Myanmar are not eligible to participate. Employees and contractors of ESOLoot.com and their respective parent companies, subsidiaries, affiliates, suppliers, advertising agencies, and families, and persons living in the same household as such employees or contractors, are not eligible to participate. This Contest is governed by the laws of the State of Florida, United States. The Contest is subject to all applicable, as the case may be, national, federal, provincial, state and local laws.

  4. SEVERABILITY When any provision of the contest rules is found to be invalid by a court of competent jurisdiction, the parties nevertheless agree that the Court should endeavor to give effect to the intentions of the parties as reflected in the provision, and that the other provisions of the contest rules remain in full force and effect.

  5. CONTEST PERIOD Start dates are posted for each contest. Please see each contest for exact end dates. All contests are assume to start at 12 am EST and end on the last day at midnight PST. ESOLoot.com may in its sole discretion cancel or postpone Contests.

  6. HOW TO ENTER To enter the Contest, you need to login to ESOLoot.com. Select the contest(s) you may be interested in joining and follow the instructions. There is no fee to enter any of our Contests or Competitions, though Premium Membership to the website may be required in order to access the tools and features necessary to participate. Entries must be submitted no later than 12 midnight PST of the end date posted for each contest. Each Entrant must be the named and authorized account holder of the email address submitted in connection with that Entrant's Entry and must have a Validated and Confirmed Elder Scrolls Online game account registered within their ESOLoot.com site membership. The authorized account holder is the natural person who is assigned to the email address by an internet access provider, online service provider, or other organization that is responsible for assigning email addresses or the domain associated with the submitted email address. Without limiting any representations or warranties, ESOLoot.com, the Sponsor, has the right (though not the obligation) to, in the its sole discretion, reject or remove from the website, servers and computer systems any entry or submission that, in the Sponsor's sole discretion, violates any applicable Sponsor policy or is in any way harmful or illegal or violates the Terms and Conditions, Rules of the Road or Privacy Policy of our website.

  7. SUBMISSION CRITERIA The criteria for each contest / competition is posted with each contest.

  8. PRIZES Prizes for each contest are posted with each contest. The prizes are non-transferable and no substitution by winner or cash equivalent is permitted. The Sponsor may substitute prize for one of equal or greater value at its sole discretion. Only one prize package will be awarded to an Entrant. The winner will be responsible for all federal, provisional, state, local and other applicable taxes relating to the prize. Unless otherwise stated in a specific Contest’s rules and conditions, physical prizes of any monetary value which are awarded to contest winners will remain exclusive to the continental United States. Any and all winners residing outside of the continental United States will be provided an electronic currency, or electronic gift card, of roughly equivalent monetary value as an alternative.

  9. SELECTION OF WINNERS Each contest stipulates how winners are selected. See each individual contest for details.

  10. REPRESENTATIONS AND WARRANTIES By participating in the Contest, you warrant and represent the following. And if you are entering as a group each person within the group also represents and warrants the following: (a) he/she is the sole and exclusive owner of (and free of any adverse claim by any person, firm, or corporation) all intellectual property rights in and to the Entry; (b) the Entry is original and the use of the Entry as described in these Rules will not infringe the proprietary rights, including without limitation the intellectual property rights, of any third party; (c) the use of the Entry, as described in these Rules, will be in compliance with any third-party licenses pertaining to the Entry; (d) the Entry is not obscene or libelous, does not contain defamatory or derogatory remarks, and does not violate any rights of any third party, including but not limited to rights of privacy or publicity; (e) he/she has accurately categorized and understands the type and nature of the Contest;(f) the Entry does not contain any virus, spyware, malware, trap door, worm, or any other device, mechanism or code that is injurious or damaging to software or hardware used in conjunction with the Entry; (g) the Entry and its use as described in these Rules will not violate any federal, provincial, state or local laws or ordinances; (h) no employer or educational or other establishment has any rights in the Entry; and (i) the Entry is consistent with all Rules that apply to the contest.

  11. INTELLECTUAL PROPERTY Any submission idea, documentation, photograph or video entered in this Contest shall remain the exclusive property of You, the Entrant.

  12. AUTHORIZATION TO USE WINNERS NAME ESOLoot.com has no intention of using the winner's name.

  13. Bound by Rules By participating in the Contest, the Entrant agrees to be bound by these Rules, including all eligibility requirements and all decisions of the Sponsor. By participating in the Contest, the Entrant agrees to indemnify, defend, and hold harmless the Sponsor and its officers, directors, employees, agents, affiliates, contractors, contributors, subsidiaries, licensors, distributors, and parent from any and all liability, claims, or actions of any kind, including, without limitation, property damage, personal injury, and/or death, arising out of his/her (i) breach of any representation, warranty or covenant contained in these Rules; or (ii) participation in the Contest; (iii) acceptance and/or use or misuse of any prize in connection with the Contest; or (iv) any third party claim relating to any rights in any design submitted. BY PARTICIPATING IN THE CONTEST, THE ENTRANT AGREES THAT THE SPONSOR ENTITIES MAKE NO WARRANTY, REPRESENTATION, OR GUARANTEE OF ANY KIND, EXPRESSED OR IMPLIED, IN FACT OR IN LAW, RELATING TO THE CONTEST AND/OR THE PRIZES. By participating in the Contest, the Entrant agrees that the Sponsor is not responsible, and will in no event be held liable, for any: (a) lost, late, illegible, misdirected, damaged, incomplete, corrupted or garbled entries; (b) telephone, computer, or network malfunction or error; (c) communication disruption or other disruptions related to Internet traffic, virus, bug, worm, or non-authorized intervention; or (d) damage caused by a computer virus or otherwise resulting to any computer from Entrant's access of the Contest website. If such malfunction, error, disruption, or damage occurs or impairs the administration, security, fairness, or integrity of the Contest, the Sponsor may, in its sole discretion, suspend, modify or terminate the Contest by posting a notice at ESOLoot.com. If the Contest is terminated before the scheduled end of the Contest Period, the Sponsor will determine the winner from all eligible entries received as of the termination date. Persons found tampering with or abusing any aspect of the Contest, or whom the Sponsor believes to be causing or attempting or intending to cause any malfunction, error, disruption, or damage will be disqualified. The Sponsor reserves the right to disqualify any unauthorized entries, including, without limitation, or any entries made through robotic, automatic, mechanical, programmed or similar multiple-entry, or entry duplication, method and to disqualify any person or entity using such a method. NOTWITHSTANDING ANYTHING HEREIN TO THE CONTRARY, AND ONLY TO THE MAXIMUM EXTENT PERMISSIBLE BY THE APPLICABLE LAW, BY PARTICIPATING IN THE CONTEST, THE ENTRANT AGREES THAT IN NO EVENT WILL THE SPONSOR OR ANY SPONSOR ENTITY BE LIABLE TO ENTRANTS OR ANY OTHER PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, REGARDLESS OF THE BASIS OR NATURE OF THE CLAIM, RELATING IN ANY MANNER TO THESE OFFICIAL RULES, THE CONTEST OR THE ENTRANT'S PARTICIPATION THEREIN, EVEN IF THE SPONSOR OR A SPONSOR ENTITY WERE EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. ALSO NOTWITHSTANDING ANYTHING HEREIN TO THE CONTRARY, BY PARTICIPATING IN THE CONTEST, THE ENTRANT FURTHER AGREES THAT IN NO EVENT WILL THE LIABILITY OF THE SPONSOR OR ANY SPONSOR ENTITY RELATING IN ANY MANNER TO THESE OFFICIAL RULES, THE CONTEST OR THE ENTRANT'S PARTICIPATION THEREIN EXCEED THE GREATER OF US$1,000 OR ANY OTHER AMOUNTS PAID BY THE ENTRANT TO ENTER INTO THE CONTEST. SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CERTAIN INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO THE ENTRANT. IN THE EVENT THAT THE PRECEDING RELEASE IS DETERMINED BY A COURT OF COMPETENT JURISDICTION TO BE INVALID OR VOID FOR ANY REASON, THE ENTRANT AGREES THAT, BY ENTERING THE CONTEST, (I) ANY AND ALL DISPUTES, CLAIMS, AND CAUSES OR ACTION ARISING OUT OF OR IN CONNECTION WITH THE CONTEST, OR ANY PRIZES AWARDED, SHALL BE RESOLVED INDIVIDUALLY WITHOUT RESORT TO ANY FORM OF CLASS ACTION; AND (II) ANY CLAIMS, JUDGEMENTS AND AWARDS SHALL BE LIMITED TO ACTUAL OUT-OF-POCKET COSTS INCURRED, INCLUDING COSTS ASSOCIATED WITH ENTERING THE CONTEST, BUT IN NO EVENT ATTORNEY'S FEES. For the avoidance of doubt, to the extent that English law applies, nothing in these Rules shall limit or exclude either party's liability for fraud, or for death or personal injury caused by its negligence, or any other liability to the extent such liability cannot be excluded or limited as a matter of law.

  14. PRIVACY Except as otherwise stated herein or as otherwise agreed by the Entrant and the Sponsor, the information communicated by the Entrant in connection with Entry to the Contest will be used solely for the purposes relating to this Contest.

  16. INTERPRETATION, GOVERNING LAW, JURISDICTION Interpretation: In the case of any dispute about the interpretation of the Rules, Sponsor’s decision as to the interpretation shall be final and Entrant shall be bound by Sponsor’s decision. Governing Law: The interpretation and enforcement of these Rules will be governed by the laws of the State of Florida, USA, except to the extent required to be governed by the local law in the place of residence of Entrant. In relation to residents of the United Kingdom, in the event that the laws of the State of Florida do not apply, English law shall apply. The Entrant and the Sponsor agree to the extent permitted by law to submit all disputes arising out of or relating to these Rules or the Contest to, and hereby waive any objection to the exclusive jurisdiction and venue of, the state and federal courts located in Florida, Subject to the Section on SEVERABILITY above, if necessary any provision of these Rules that is found to be invalid by a court of competent jurisdiction shall be deemed to be struck out from these Rules. Entries by Entrants who are residents of Brazil, Puerto Rico, Province of Quebec, Canada, Iran, Iraq, Sudan, Cuba, Syria, North Korea and Union of Myanmar shall not be valid.

  17. CONSIDERATION The Entrant agrees that the ability to participate in the Contest and to compete for the prizes offered in connection with the Contest constitute, where required, sufficient consideration for the Entrant's obligations under these Rules. Please retain a copy of these Rules for your records.
