%div
  %div.center-block(style="width: 742px;")
    %h2.page-header Welcome!

    %h3 Contest delayed
    %p Due to technical issues the contest has been delayed. The contest will now begin May 30 at 9PM EST.
    %hr

    %p
      Thank you for visiting the new ESOLoot.com. As you might have noticed it’s not quite finished yet. It’s still a bit messy here or there and not all of our “day one” features are complete yet. We needed to host it somewhere while we worked out the last few features and kinks, so here you have it. Exposed for the world to see, this is the new ESOLoot.

    %p
      Our goal is to become The Elder Scrolls Online’s premier offline auction house. We’re intent on providing you with the best services and features. After all, we’re players too and we know what we would want to use on a site like this.

    %p
      So, bear with us as we clear the last of our scaffolding and prepare for our impending launch. It won’t be very long before you’ll be able to post your auctions, buy your goods and otherwise contribute to the game’s fledgling economy. We look forward to working with you to build the very best online auctioning system that any game has ever seen… over time, of course. ;)

    %br
    = link_to "Grand Opening Sweepstakes", home_sweeps_path

    %br
    = link_to "'Conquer The Market' Contest", home_contest_path

    %br
    = link_to "'Conquer The Market' Contest Prizes", home_contest_prizes_path

    %br
    %br

    .well.well-lg
      %h4(style="font-weight: bold;")
        Recent changes &nbsp;
        = link_to "Full list", home_changes_path, style: "font-size: 12px;"

      %h5 May 16 2014
      %ul
        %li Can now select a listing duration
        %li Starting bid is no longer required
        %li Can now search by item type and style
        %li New Heavy, Medium, and Light Apparel item types
        %li Enchants now appear in item tooltips
        %li Fixed account selection bug on create listing page

      %h5 May 14 2014
      %ul
        %li Auction grids now show the server of the account with the item
        %li Selecting an account will now filter the auction grids to only show items for the matching server
        %li Default duration for new auctions is now three days
        %li Item list when creating a new auction is now sorted alphabetically
        %li
          Fixed bug that was causing duplicate items to be created when creating an auction
%br
%br
