#news
  .contact-info.pull-left
    Contact: Rick “Wykkyd” Parker
    %br
    Wykkyd Gaming
    %br
    wykkyd.gaming@gmail.com

  .branding-box.pull-right
    %span.branding-text Wykkyd Gaming

  .clearfix

  %h1(style="font-family: 'Arial Black'; font-size: 54pt;") Press Release

  %h2 Wykkyd Gaming Presents: ESOLoot.com

  %h3 The Elder Scrolls Online’s newest Offline Auction House

  %p
    May 12, 2014:  ESOLoot.com has officially launched and is now open for business.  Only a limited set of features are available but more will be released over the course of the next two weeks.  The site’s grand opening is also accompanied by a sweepstakes to give away Premium Memberships and a Premium Member exclusive contest for Razer gear and Amazon Gift Cards.

  %p
    Rick Parker, a widely known Lua addon developer who operates under the online names of Wykkyd and Wykkyd Gaming, has partnered with friend and co-worker Chris Tanner to bring you their vision of how an offline auction house should be.  Rick’s more than half million downloads of his addons speaks to his ability to deliver products that the Elder Scrolls Online community appreciates.  While the site is still being developed, and is only a mere glimpse of the features yet to come, he felt it would benefit the user community as a whole to launch early and let them take advantage of an admittedly slim feature-set that still outpaces the current competition.

  %p
    The nine day Premium Membership sweepstakes giveaway, running from May 12, 2014 until May 20, 2014, is the developers’ way of saying “Welcome aboard!”  It also affords them a chance to complete development of the introductory Premium Membership perks and tools that many will find useful when participating in the ‘Conquer the Market’ contest.

  %p
    The ‘Conquer the Market’ contest’s entry period will run from May 21, 2014 and will remain open until June 10, 2014.  Each contestant will have twenty days from the date they register for the contest to rack up purchases and sales, following strict guidelines, to see who will be crowned Kingpin of the ESOLoot market. Prizes will include Razer gear and Amazon Gift Cards and will scale in value, and in number of prizes given, based upon the number of participants.  If enough contestants compete the grand prize may even be a New Razer Blade.

  %p
    Make sure to take a look at this new, exciting web offering and take advantage of the launch events (each subject to posted Terms & Conditions).

  .news-footer
    For Release 8 PM EST - May 12, 2014
%br
%br
