%div
  %div.center-block(style="width: 742px;")
    %h2.page-header Privacy Policy

  %p
    At ESOLoot we take your privacy seriously.  Any information you provide in the creation of your account or through Sweepstakes or Contest entries will remain in the sole possession of ESOLoot.com and will not be distributed to any individuals, companies or agencies of any kind without legal subpoena except in regards to ZeniMAX Media and ZeniMAX Online Studios.
  %p
    Information will be shared freely with ZeniMAX in order to assist them in upholding their Terms of Service and to aid in any efforts to investigate any matters they might require, including but not limited to: Reported scam attempts, Reported TOS-breaking activities and player abuse of any kind.
