%div
  %div.center-block(style="width: 742px;")
    %h2.page-header Site Policies & Terms of Use

    %p By registering with this site you agree to use the provided auctioning features to buy and/or sell only legitimate in-game items/gold in trade for legitimate in-game items/gold and to abide by the terms and conditions outlined within Zenimax Online Studios’ Terms of Service.  This website is in no way to be used to convert game items or currency into real world cash, products or services.  Any attempt to do so will result in banning and will be reported to Zenimax Online Studios for whatever further action they might wish to take.

    %p By using this site you also agree to have your transaction history made available to Zenimax Online Studios at their discretion and in whatever format they choose to receive or request it in.  You also agree that your transactions and information will be used for internal reporting and calculations as deemed necessary to support the operation of the website.
