%div
  %div.center-block(style="width: 742px;")
    %h2.page-header Grand Opening Sweepstakes!

    %p
      In celebration of our Grand Opening, ESOLoot is hosting a Sweepstakes for all new, confirmed members. Enter now and you could win a FREE PREMIUM MEMBERSHIP! 10 of you will win of there are at least 100 participants. 5 will win if there are at least 50 but less than 100. Only 1 will win if there are less than 50 participants! The Sweepstakes will run from the moment that the website becomes publicly available until May 21st at midnight PST. Only one entry is available per Membership. Entering early, or late, will not affect your chances of winning.

    %p
      Registering for Premium Membership during the Sweepstakes will NOT remove you from the Sweepstakes’ list of Entrants. If you are selected as a winner and have already paid for a Premium Membership your Premium Membership fee will be reimbursed to you. If reimbursement is, for any reason, not possible we will work with you to find other means of compensation.

    %h3 How do I enter?

    %p
      Create a normal account, validate your email address and complete at least 1 transaction using the auction system on the website. This is all free to you, so anyone with an Elder Scrolls Online game account can participate.

  %p.center-block(style="width: 200px;")
    = link_to "Terms & Conditions", home_sweeps_rules_path
