%pre
  ESOLoot Sweepstakes Rules & Conditions

  NO PURCHASE NECESSARY TO ENTER OR WIN
  Purchase does not increase chance of winning.
  The Prize: Free 1 Year Premium Membership or reimbursement of the fees associated with purchasing same, if such has already been purchased by the winning account-holder. No cash or other prize substitution permitted except at Sponsor's discretion. The prize is nontransferable. Any and all prize related expenses, including without limitation any and all federal, state, and/or local taxes shall be the sole responsibility of the winner.
  How to enter: You may enter the Sweepstakes through the ESOLoot.com’s Account information tab using a Standard or Premium membership once your email address has been validated and your game account has been confirmed.
