.container
  .row
    .col-md-2 E-mail
    .col-md-4= @user.email
  .row
    .col-md-2 Country
    .col-md-4= @user.residence_country

  .row
    .col-md-2 Date Joined
    .col-md-4= @user.created_at

  .row
    .col-md-2 User Rating
    .col-md-4
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star-empty

  .row
    .col-md-2 Other Rating
    .col-md-4
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star
      %span.glyphicon.glyphicon-star-empty
