-#  Link to the "Last" page
-#  available local variables
-#    url:           url to the last page
-#    current_page:  a page object for the currently displayed page
-#    total_pages:   total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
%li{class: current_page.last? ? "disabled" : nil }
  - if current_page.last?
    %a(href="#")= t('views.pagination.last').html_safe
  - else
    = link_to t('views.pagination.last').html_safe, url, :remote => remote
