%h2 Sign in

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal ui-form center-block"}) do |f|
  .form-inputs
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

  .form-actions
    = f.button :submit, "Sign in"

= render "devise/shared/links"
