%li.pull-right
  = search_form_for search, url: search_url, html: {class: "form-inline pull-right"} do |f|
    %a(href="#" data-toggle="modal" data-target="#search-modal") Advanced

    .form-group.has-feedback
      = f.label :item_name_cont, class: "sr-only"
      = f.text_field :item_name_cont, class: "form-control", placeholder: "Enter item name"
      %span.glyphicon.glyphicon-search.form-control-feedback
    .form-group
      = f.submit 'Search', class: "btn btn-default"

  .clearfix
  %br
