%table#grid.table.table-striped.table-hover
  - if @listings.empty?
    %tr
      %td No listings found
  - else
    %tr
      %th= sort_link(search, :item_name, "Item")
      %th= sort_link(search, :account_server_name, "Server")
      %th= sort_link(search, :item_level, "Level")
      %th= sort_link(search, :item_style_name, "Style")
      %th= sort_link(search, :item_set_bonus_trait_name, "Set Trait")
      %th= sort_link(search, :item_researchable_trait_name, "Research Trait")
      %th= sort_link(search, :quantity, "Quantity")
      %th= sort_link(search, :current_bid, "Bid")
      %th= sort_link(search, :buyout, "Buyout")
      %th= sort_link(search, :expiration_date, "Ends In")
      -#
        %th= sort_link(search, :item_listing_status_name, "Status")
      %th
      %th

    - @listings.each do |item_listing|
      %tr
        %td(style="min-width: 280px;")
          %span(rel="popover" data-toggle="popover" data-content="#{ h render partial: 'items/tooltip', locals: { item: item_listing.item }}")
            = item_listing.item.name
        %td= item_listing.account.server.name
        %td= level_display(item_listing.item)
        %td= item_listing.item.style.try(:name)
        %td= item_listing.item.set_bonus_trait.try(:name)
        %td= item_listing.item.researchable_trait.try(:name)
        %td= item_listing.quantity
        %td.bid= item_listing.current_bid
        %td= item_listing.buyout
        %td= expires_in(item_listing)
        -#
          %td= item_listing.item_listing_status.name
        - if item_listing.buy? or item_listing.trade?
          %td
            - if policy(item_listing).offer?
              = link_to "Offer", offer_item_listing_path(item_listing), remote: true, id: "offer-#{item_listing.id}"
          %td
        - if item_listing.sell?
          %td
            - if policy(item_listing).buy?
              = link_to "Buy", buy_item_listing_path(item_listing), remote: true, id: "buy-#{item_listing.id}"
          %td
            - if policy(item_listing).bid?
              = link_to "Bid", bid_item_listing_path(item_listing), remote: true, id: "bid-#{item_listing.id}"

.pull-right
  = paginate @listings, remote: true

