#search-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h4.modal-title Search Listings

      = search_form_for search, url: search_url, html: {class: "form-horizontal"} do |f|
        .modal-body
          .form-group
            = f.label :account_server_id, "Server", class: "control-label col-md-3"
            .col-md-9
              = f.collection_select :account_server_id_eq, Server.all, :id, :name, {prompt: true}, { class: "form-control" }

          .form-group
            = f.label :item_name_cont, "Name", class: "control-label col-md-3"
            .col-md-9
              = f.text_field :item_name_cont, class: "form-control"

          .form-group
            = f.label :item_level_gteq, "Level Range", class: "control-label col-md-3"
            .col-md-4
              = f.text_field :item_level_gteq, class: "form-control"
            = f.label :item_level_lteq, " - ", class: "control-label col-md-1"
            .col-md-4
              = f.text_field :item_level_lteq, class: "form-control"

          .form-group
            = f.label :item_item_type_id_eq, "Type", class: "control-label col-md-3"
            .col-md-4
              = f.collection_select :item_item_type_id_eq, ItemType.where(enabled: true), :id, :name, {prompt: true}, { class: "form-control item-form-type" }
            = f.label :item_item_subtype_id_eq, "Subtype", class: "control-label col-md-1 sr-only"
            .col-md-4
              = f.collection_select :item_item_subtype_id_eq, ItemSubtype.where(enabled: true), :id, :name, {prompt: true}, { class: "form-control item-form-subtype" }

          .form-group
            = f.label :item_rarity_id_eq, "Quality", class: "control-label col-md-3"
            .col-md-9
              = f.collection_select :item_rarity_id_eq, Rarity.all, :id, :name, {prompt: true}, { class: "form-control" }

          .form-group
            = f.label :item_style_id_eq, "Style", class: "control-label col-md-3"
            .col-md-9
              = f.collection_select :item_style_id_eq, Style.all, :id, :name, {prompt: true}, { class: "form-control" }

          .form-group
            = f.label :item_set_bonus_trait_id_eq, "Set Trait", class: "control-label col-md-3"
            .col-md-9
              = f.collection_select :item_set_bonus_trait_id_eq, SetBonusTrait.all, :id, :name, {prompt: true}, { class: "form-control" }

          .form-group
            = f.label :item_researchable_trait_id_eq, "Research Trait", class: "control-label col-md-3"
            .col-md-9
              = f.collection_select :item_researchable_trait_id_eq, ResearchableTrait.all, :id, :name, {prompt: true}, { class: "form-control" }

        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          = button_tag "Search", class: "btn btn-primary"

