%p#notice= notice

%p
  %b Type:
  = @item_listing.item_listing_type.name
%p
  %b Item:
  = @item_listing.item.name

%p
  %b Item level
  = @item_listing.item.level

= render partial: 'items/tooltip', locals: {item: @item_listing.item}

%p
  %b Quantity:
  = @item_listing.quantity
%p
  %b Starting bid:
  = @item_listing.starting_bid
%p
  %b Buyout:
  = @item_listing.buyout
%p
  %b Expiration Date:
  = @item_listing.expiration_date
%p
  %b Status:
  = @item_listing.item_listing_status.name
