= content_for :item_listings_search_content do
  = render partial: 'item_grid_search', locals: { search: @q, search_url: wtb_item_listings_path }

#wtb
  = render partial: 'item_grid', locals: { search: @q }

= render partial: 'item_grid_search_modal', locals: { search: @q, search_url: wtb_item_listings_path }
