= simple_form_for [current_user, @item_listing], html: {class: "form-horizontal ui-form-wide center-block"} do |f|
  = f.error_notification

  = f.association :user, as: :hidden, input_html: { value: current_user.try(:id) }

  .form-inputs
    %h3 Listing
    .row
      .col-md-5= f.association :item_listing_type, label: "Type"
      .col-md-5.col-md-offset-1= f.association :account, collection: Account.where(user_id: current_user.try(:id))

    .row
      .col-md-5= f.input :starting_bid
      .col-md-5.col-md-offset-1= f.input :buyout

    .row
      .col-md-5= f.input :quantity
      .col-md-5.col-md-offset-1= f.input :expiration_date, collection: item_listing_durations, label_method: :name, value_method: :duration

    %h3 Item

    .row
      .col-md-11
        = select_tag "select_item_id",
                    options_from_collection_for_select(Item.all.order(:name), :id, :name, selected: @item_listing.try(:item).try(:id)),
                    prompt: "Select item",
                    onchange: "$.get('#{items_update_form_path}', { select_item_id: $('#select_item_id').val() });",
                    class: "form-control pull-right"
        %br


    = f.simple_fields_for :item do |item_form|
      = render partial: 'items/form_fields', locals: {f: item_form}

    =# f.input :bid_increment
    =# f.input :expiration_date
    =# f.association :item_listing_status, label: "Status"

  .form-actions
    = f.button :submit
