= form_tag cancel_user_item_listings_path(current_user) do
  - if @item_listings.empty?
    %table.table.table-striped
      %tr
        %td No listings found
  - else
    %table.table.table-striped.table-hover
      %tr
        %th
        %th= sort_link(search, :item_listing_type_name, "Type")
        %th= sort_link(search, :item_listing_status_name, "Status")
        %th= sort_link(search, :account_name, "Account")
        %th= sort_link(search, :item_name, "Item")
        %th= sort_link(search, :item_level, "Level")
        %th= sort_link(search, :quantity, "Quantity")
        %th= sort_link(search, :current_bid, "Bid")
        %th= sort_link(search, :buyout, "Buyout")
        %th= sort_link(search, :expiration_date, "Ends In")
        %th

      - @item_listings.each do |item_listing|
        %tr
          %td= check_box_tag '', item_listing.id, false, name: "cancellation[listings][]"
          %td= item_listing.item_listing_type.name
          %td= item_listing.item_listing_status.name
          %td= item_listing.account.name
          %td(style="min-width: 280px;")
            %span(rel="popover" data-toggle="popover" data-content="#{ h render partial: 'items/tooltip', locals: { item: item_listing.item }}")
              = item_listing.item.name
          %td= level_display(item_listing.item)
          %td= item_listing.quantity
          %td= item_listing.current_bid
          %td= item_listing.buyout
          %td= expires_in(item_listing)
          %td
            - if policy(item_listing).edit?
              = link_to "Edit", edit_user_item_listing_path(current_user, item_listing)

  .pull-right
    = paginate @item_listings, remote: true

  #cancel-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          %h4.modal-title Cancel Listing

        .modal-body
          = select_tag "cancellation[reason]", options_from_collection_for_select(@cancellation_reasons, :id, :reason), prompt: "Select cancellation reason"

        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          = button_tag "Cancel", class: "btn btn-warning"
