- if @item_listings.empty?
  %table.table.table-striped
    %tr
      %td No listings found
- else
  %table.table.table-striped.table-hover
    %tr
      %th= sort_link(search, :item_name, "Item")
      %th= sort_link(search, :consumer_account_name, "Sold From")
      %th= sort_link(search, :user_account_name, "Deliver To")
      %th= sort_link(search, :quantity, "Quantity")
      %th= sort_link(search, :buyout, "Price Paid")
      %th= sort_link(search, :item_listing_status_name, "Status")
      %th

    - @item_listings.each do |item_listing|
      %tr
        %td(style="min-width: 280px;")
          %span(rel="popover" data-toggle="popover" data-content="#{ h render partial: 'items/tooltip', locals: { item: item_listing.item }}")
            = item_listing.item.name
        %th= item_listing.consumer_account.try(:name)
        %th= item_listing.account.name
        %td= item_listing.quantity
        %td= item_listing.buyout
        %td.status= item_listing.item_listing_status.name
        %td
          - if policy(item_listing).delivered?
            = link_to "Delivered", delivered_user_item_listing_path(current_user, item_listing), remote: true, id: "delivered-#{item_listing.id}"

.pull-right
  = paginate @item_listings, remote: true
