$('#delivered-<%= @item_listing.id %>').fadeOut('fast', function() {
  $(this).html('');
});

$('#delivered-<%= @item_listing.id %>').parent().siblings('.status').html('<%= @item_listing.item_listing_status.try(:name) %>');
