.row
  .col-md-6
    .btn-group
      = link_to 'New Item Listing', new_user_item_listing_path(current_user), class: "btn btn-default"
      - unless @item_listings.empty?
        %a.btn.btn-default(href="#" data-toggle="modal" data-target="#cancel-modal") Cancel Listings

  .col-md-6
    = search_form_for @q, url: user_item_listings_path(current_user), html: {class: "form-inline pull-right"} do |f|
      .form-group.has-feedback
        = f.label :item_name_cont, class: "sr-only"
        = f.text_field :item_name_cont, class: "form-control", placeholder: "Enter item name"
        %span.glyphicon.glyphicon-search.form-control-feedback
      .form-group
        = f.submit 'Search', class: "btn btn-default"

    .clearfix
    %br

.row
  #grid.col-md-12
    = render partial: 'item_grid', locals: { search: @q }
