%div
  = search_form_for @q, url: purchases_user_item_listings_path(current_user), html: {class: "form-inline pull-right"} do |f|
    .form-group.has-feedback
      = f.label :item_name_cont, class: "sr-only"
      = f.text_field :item_name_cont, class: "form-control", placeholder: "Enter item name"
      %span.glyphicon.glyphicon-search.form-control-feedback
    .form-group
      = f.submit 'Search', class: "btn btn-default"

  .clearfix

%br

#grid
  = render partial: 'purchases_grid', locals: { search: @q }
