%p#notice= notice

%p
  %b Type:
  = @item_listing.item_listing_type.name
%p
  %b User:
  = @item_listing.user.email
%p
  %b Account:
  = @item_listing.account.name
%p
  %b Item:
  = @item_listing.item.name
%p
  %b Quantity:
  = @item_listing.quantity
%p
  %b Starting bid:
  = @item_listing.starting_bid
%p
  %b Buyout:
  = @item_listing.buyout
%p
  %b Expiration Date:
  = @item_listing.expiration_date
%p
  %b Status:
  = @item_listing.item_listing_status.name

=# link_to 'Edit', edit_user_item_listing_path(current_user, @item_listing)
