= f.association :user, as: :hidden, input_html: { value: current_user.try(:id) }

.row
  .col-md-11= f.input :name, input_html: { class: 'item-form-name' }

.row
  .col-md-5= f.association :item_type, collection: ItemType.where(enabled: true), label: "Type", input_html: { class: 'item-form-type' }
  .col-md-5.col-md-offset-1= f.association :item_subtype, collection: [], label: "Subtype", input_html: { class: 'item-form-subtype' }

.row
  .col-md-5= f.association :rarity, input_html: { class: 'item-form-rarity' }
  .col-md-5.col-md-offset-1= f.association :style, input_html: { class: 'item-form-style' }
.row
  .col-md-5= f.input :level, collection: 1..50, include_blank: true, input_html: { class: 'item-form-level' }
  .col-md-5.col-md-offset-1= f.input :veteran_level, collection: 1..10, include_blank: true, input_html: { class: 'item-form-veteran-level' }
.row
  .col-md-5= f.input :damage, input_html: { class: 'item-form-damage' }
  .col-md-5.col-md-offset-1= f.input :armor, input_html: { class: 'item-form-armor' }

.row
  .col-md-5= f.association :set_bonus_trait, input_html: { class: 'item-form-set-bonus' }
  .col-md-5.col-md-offset-1= f.association :researchable_trait, input_html: { class: 'item-form-researchable' }

.row.item-form-enchant1
  .col-md-4= f.association :enchant_1, input_html: { class: 'enchant-select' }
  .col-md-3.col-md-offset-1= f.input :enchant_1_value, label: "Value", input_html: { class: 'enchant-value-1' }
  .col-md-3.col-md-offset-1= f.input :enchant_1_value_2, label: "Duration/Recovers", input_html: { class: 'enchant-value-2' }

.row.item-form-enchant2
  .col-md-4= f.association :enchant_2, input_html: { class: 'enchant-select' }
  .col-md-3.col-md-offset-1= f.input :enchant_2_value, label: "Value", input_html: { class: 'enchant-value-1' }
  .col-md-3.col-md-offset-1= f.input :enchant_2_value_2, label: "Duration/Recovers", input_html: { class: 'enchant-value-2' }
