%table.table.table-striped.table-hover
  - if @items.empty?
    %tr
      %td No items found
  - else
    %tr
      %th= sort_link(search, :name, "Name")
      %th= sort_link(search, :level, "Level")
      %th= sort_link(search, :rarity_name, "Quality")
      %th= sort_link(search, :style_name, "Style")
      %th= sort_link(search, :set_bonus_trait_name, "Set Trait")
      %th= sort_link(search, :researchable_trait_name, "Researchable Trait")
      %th= sort_link(search, :enchant_1_name, "Enchant 1")
      %th= sort_link(search, :enchant_2_name, "Enchant 2")
      %th
      %th

    - @items.each do |item|
      %tr
        %td(style="min-width: 280px;")
          = link_to item.name, item_path(item), rel: "popover", data: { toggle: 'popover', content: "#{ h render partial: 'items/tooltip', locals: { item: item }}" }
        %td= level_display(item)
        %td= item.rarity.try(:name)
        %td= item.style.try(:name)
        %td= item.set_bonus_trait.try(:name)
        %td= item.researchable_trait.try(:name)
        %td= item.enchant_1.try(:name)
        %td= item.enchant_2.try(:name)
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item_path(item), :method => :delete, :data => { :confirm => 'Are you sure?' }

.pull-right
  = paginate @items, remote: true
