.item-tooltip
  .item-type
    = item.item_type.name
    %br
    = item.item_subtype.name

  .item-name(class="item-name #{item.rarity.try(:name).try(:downcase)}")= item.name
  .item-info
    - if item.damage.present?
      %span.item-dps= "#{item.damage} damage"
    - if item.armor.present?
      %span.item-armor= "#{item.armor} armor"
    %span.item-level= level_display(item)

  - unless item.enchant_1.nil?
    .item-enchant
      .item-enchant-name= enchant_tooltip_display(item.enchant_1.description, item.enchant_1_value, item.enchant_1_value_2)
  - unless item.enchant_2.nil?
    .item-enchant
      .item-enchant-name= enchant_tooltip_display(item.enchant_2.description, item.enchant_2_value, item.enchant_2_value_2)

  - unless item.set_bonus_trait.nil?
    .item-set
      .item-set-name= item.set_bonus_trait.name
      .item-set-desc= item.set_bonus_trait.description
  - unless item.researchable_trait.nil?
    .item-trait
      .item-trait-name= item.researchable_trait.name
      .item-trait-desc= item.researchable_trait.description
