.row
  .col-md-6
    = link_to 'New Item', new_item_path, class: "btn btn-default"

  .col-md-6
    = search_form_for @q, html: {class: "form-inline pull-right"} do |f|
      .form-group.has-feedback
        = f.label :name_cont, class: "sr-only"
        = f.text_field :name_cont, class: "form-control", placeholder: "Enter name"
        %span.glyphicon.glyphicon-search.form-control-feedback
      .form-group
        = f.submit 'Search', class: "btn btn-default"

    .clearfix
    %br

.row
  #grid.col-md-12
    = render partial: 'item_grid', locals: { search: @q, search_url: items_path }
