$('.item-form-subtype').html('<%= escape_javascript(options_for_select(@subtypes)) %>');

$('.item-form-name').val('<%= @item.name %>');
$('.item-form-type').val('<%= @item.item_type.try(:id) %>');
$('.item-form-subtype').val('<%= @item.item_subtype.try(:id) %>');
$('.item-form-rarity').val('<%= @item.rarity.try(:id) %>');
$('.item-form-style').val('<%= @item.style.try(:id) %>');
$('.item-form-level').val('<%= @item.level %>');
$('.item-form-veteran-level').val('<%= @item.veteran_level %>');
$('.item-form-set-bonus').val('<%= @item.set_bonus_trait.try(:id) %>');
$('.item-form-researchable').val('<%= @item.researchable_trait.try(:id) %>');

$('.item-form-damage').val('<%= @item.damage %>');
$('.item-form-armor').val('<%= @item.armor %>');

$('.item-form-enchant1 .enchant-select').val('<%= @item.enchant_1.try(:id) %>');
$('.item-form-enchant1 .enchant-value-1').val('<%= @item.enchant_1_value %>');
$('.item-form-enchant1 .enchant-value-2').val('<%= @item.enchant_1_value_2 %>');

$('.item-form-enchant2 .enchant-select').val('<%= @item.enchant_2.try(:id) %>');
$('.item-form-enchant2 .enchant-value-1').val('<%= @item.enchant_2_value %>');
$('.item-form-enchant2 .enchant-value-2').val('<%= @item.enchant_2_value_2 %>');

enchantChanged('.item-form-enchant1');
enchantChanged('.item-form-enchant2');
