/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

@import "bootstrap";
@import "bootstrap/theme";

html {
  position: relative;
  height: 100%;
  min-height: 100%;

  body {
    height: 100%;
    min-height: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #c0c0c0;
  }
}

#logo {
  position: relative;
  left: -10px;
}
#main-container {
  min-height: 100%;
  background-color: #fff !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

#footer {
  position: fixed;
  background-color: white;
  bottom: 0;
  height: 30px;
  text-align: center;
  margin-left: -10px;
  max-width: 1024px;
}

.table {
  border: 1px solid #c0c0c0;
}

.ui-form {
  padding: 5px;
  width: 400px;
}

.ui-form-wide {
  padding: 5px;
  width: 650px;
}

.popover {
  min-width: 350px;
  opacity: 0.6;
}

