// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#news {
  font-family: "Arial";

  margin: 10px;
  width: 600px;

  .contact-info {
    font-size: 9pt;
  }

  .branding-box {
    width: 220px;
    height: 50px;
    text-align: center;
    background-color: #666;
    color: white;
    padding-top: 10px;

    .branding-text {
      height: 10px;
      font-family: "Arial Black";
      font-size: 16pt;
    }
  }

  .news-footer {
    background-color: #666;
    font-family: "Arial Black";
    color: white;
    font-size: 10pt;
  }
}

#prizes {
  h3 {
    margin-top: 50px;
    text-decoration: underline;
  }

  h4 {
    margin-top: 20px;
    font-weight: bold;
  }
}
