@import "bootstrap";
@import "bootstrap/theme";

.item-tooltip {
  position: relative;
  background-color: black;
  border: 2px solid black;
  color: white;
  /*opacity: 0.6;*/
  margin: 0;
  padding: 12px;
  text-align: center;

  .item-type {
    text-align: left;
    font-size: 12px;
    color: #ab966f !important;
  }

  .item-name {
    text-transform: uppercase;
    font-size: 20px;
  }

  .item-level {
  }

  .item-set {
    color: gray;
    margin-top: 10px;

    .item-set-name {
    }

    .item-set-description {
    }
  }

  .item-trait {
    color: #ab966f !important;
    margin-top: 10px;
  }

  .item-enchant {
    color: gray;
    margin-top: 10px;
  }

  .common {
    color: #ffffff !important;
  }

  .fine {
    color: #2dc50e !important;
  }

  .superior {
    color: #3a92ff !important;
  }

  .epic {
    color: #a02ef7 !important;
  }

  .legendary {
    color: #eeca2a !important;
  }
}
