<!DOCTYPE html>
<html lang="en">
<head>
  <title>ESO Loot</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="main-container">
    <%= link_to image_tag("esoloot.jpg", alt: "ESO Loot", class: "center-block", id: "logo"), root_path %>

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Profile", user_profile_path(current_user) %></li>
          <% end %>

          <li><%= link_to "Auctions", item_listings_path %></li>

          <% if user_signed_in? %>
            <li><%= link_to "My Listings", user_item_listings_path(current_user) %></li>
            <li><%= link_to "My Sales", sales_user_item_listings_path(current_user) %></li>
            <li><%= link_to "My Purchases", purchases_user_item_listings_path(current_user) %></li>

            <% if current_user.admin? %>
              <li><%= link_to "Items", items_path %></li>
            <% end %>
          <% end %>
        </ul>

        <p id="user_nav" class="navbar-text navbar-right">
          <% if user_signed_in? %>
            <% unless current_user.accounts.empty? %>
              <%= select_tag "select_account_id",
                    options_from_collection_for_select(current_user.accounts, :id, :name, selected: selected_account_id),
                    prompt: "Select account",
                    onchange: "$.get('#{select_user_accounts_path(current_user)}', { select_account_id: $('#select_account_id').val() });",
                    class: "form-control"
              %>
            <% end %>
          <% end %>
        </p>
      </div>
    </nav>

    <div id="flash-messages">
      <% if notice %>
        <div class="alert alert-success fade in" data-alert="alert">
          <p><%= notice %></p>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning fade in" data-alert="alert">
          <p><%= alert %></p>
        </div>
      <% end %>
    </div>

    <%#
    <div class="center-block" style="width: 728px; height: 90px; background-color: #eee;">
      Banner
    </div>

    <br>
    %>

    <div>
      <ol class="breadcrumb pull-left">
        <%= render_breadcrumbs tag: :li, separator: "" %>
      </ol>

      <div class="pull-right">
        <% if user_signed_in? %>
          <%= link_to current_user.email, user_profile_path(current_user) %>&nbsp;&nbsp;
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "navbar-link" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => "navbar-link" %> or
          <%= link_to "sign in", new_user_session_path, :class => "navbar-link" %>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <div id="footer" class="center-block">
      <div class="container">
        <%= link_to "About", home_about_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Contact Us", home_contact_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Privacy Policy", home_privacy_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Site Policies", home_site_policies_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "News", home_news_path %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>

