= content_for :content do
  %ul.nav.nav-pills
    %li{class: ("active" if current_page?(wts_item_listings_path))}
      %a(href="#{wts_item_listings_path}") WTS
    %li{class: ("active" if current_page?(wtb_item_listings_path))}
      %a(href="#{wtb_item_listings_path}") WTB
    %li{class: ("active" if current_page?(wtt_item_listings_path))}
      %a(href="#{wtt_item_listings_path}") WTT
    = yield(:item_listings_search_content)

  = content_for?(:item_listings_content) ? yield(:item_listings_content) : yield

= render template: 'layouts/application'
